# ---- Arquivos de Build ----
target/
!.mvn/wrapper/maven-wrapper.jar
build/
.gradle/

# ---- Logs e Arquivos Temporários ----
*.log
hs_err_pid*
replay_pid*

# ---- Configurações de IDEs ----
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

application.properties