# ---- Arquivos de Build ----
target/
!.mvn/wrapper/maven-wrapper.jar
build/
.gradle/

# ---- Logs e Arquivos Temporários ----
*.log
hs_err_pid*
replay_pid*

# ---- Configurações de IDEs ----
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

application.properties

# Chaves Criptográficas Locais (Nunca comitar)
/CHAVES/
*.pem
private.pem

C:\Programacao\idp\nexus-identity-provider\src\main\java\com\fernando\iop\security\configuration\DatabaseSeeder.java